{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Turas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{% url 'home' %}" class="logo"><strong>Turas</strong> Job Portal</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Welcome to Turas, your one stop<br />
											for getting your dream job</h1>
											<p>Please Register to search and apply for open positions</p>
										</header>
										<!-- Form -->
											<h3>Registration Form</h3>

											<form method="post" action="{% url 'home' %}">
												{% csrf_token %}
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="text" name="username" id="username" value="" placeholder="Username" required/></br />
													</div></br />
												</div>
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="email" name="email" id="email" value="" placeholder="Email ID" required/></br />
													</div></br />
												</div>
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="password" name="passord" id="password" value="" placeholder="Password" required/></br />
													</div></br />
												</div>
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="password" name="cpassword" id="cpassword" value="" placeholder="Confirm Password" required/></br />
													</div>

													<div class="col-12">
														<ul class="actions">
															<li><input type="submit" value="Register" class="primary" /></li>
															<li><input type="reset" value="Reset" class="primary" /></li>
														</ul>
													</div>
												</div>
											</form>
									</div>

								</section>



							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Turas. All rights reserved. Design: <a href="#">Navaneeth A</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
